@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;700&display=swap");

:root {
  --primary-color: #af7eeb;
  --secondary-color: #e3e9ff;
  --light-color: #fff;
  --tertiary-color: #a19c9c;
  --danger-color: #f56f78;
  --general-spacer: 2rem;
  --minimum-height: 50vh;
  --spacer: 1.5rem;
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  display: grid;
  grid-gap: var(--general-spacer);
  grid:
    "header header header header" auto
    ". projects tasks ." auto /
    1fr minmax(256px, 420px) minmax(320px, 768px) 1fr;
  background-color: var(--secondary-color);
}

h3 {
  text-align: center;
  font-size: 1.2rem;
}

.app-title {
  grid-area: header;
  text-align: center;
  color: var(--light-color);
  font-weight: bolder;
  font-size: 3rem;
  margin-bottom: 0;
}

.projects {
  grid-area: projects;
  min-height: var(--minimum-height);
  background-color: var(--light-color);
  border-radius: 32px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);

  &__title {
    background-color: var(--primary-color);
    padding: var(--spacer);
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    color: var(--light-color);
  }

  &__body {
    padding: 0 var(--spacer);
    color: rgb(143, 134, 134);
    margin-bottom: var(--spacer);
  }

  &__list {
    padding-left: 1rem;
    line-height: 3rem;
    list-style-type: circle;
  }

  &__item {
    font-size: 1.2rem;

    &--active {
      font-weight: 700;
      font-size: 1.5rem;
    }

    &:hover {
      cursor: pointer;
      font-weight: bold;
      font-size: 1.5rem;
    }
  }

  &__form {
    margin-top: var(--spacer);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__form__input {
    margin-bottom: var(--spacer);
    border: 0;
    font-size: 1.2rem;
    opacity: 0.5;
    border-bottom: 2px solid var(--tertiary-color);
    text-align: center;
    padding: 0.5rem 0;
    outline: 0;

    &:focus {
      border-bottom-width: 4px;
    }

    &:focus::placeholder {
      opacity: 0.2;
    }
  }

  &__form__button {
    display: block;
    margin: auto;
    cursor: pointer;
    padding: 0.8rem 1.5rem;
    width: fit-content;
    border: 0;
    font-size: 1.5rem;
    color: var(--light-color);
    background-color: var(--primary-color);
    border-radius: 5px;
  }

  &__delete_button {
    display: block;
    margin: 1rem auto;
    font-size: 1.2rem;
    border: 0;
    color: var(--danger-color);
    cursor: pointer;
    background: none;
    font-weight: 500;

    &:hover {
      color: var(--light-color);
      background-color: var(--danger-color);
      padding: 0.5rem;
      border-radius: 5px;
    }
  }
}

.todos {
  grid-area: tasks;

  &__header {
    color: var(--light-color);
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacer);
    border-top-right-radius: 32px;
  }

  &__count {
    margin-left: 1rem;
  }

  &__body {
    margin-top: 1.5rem;
    background-color: var(--light-color);
    padding: var(--spacer) var(--spacer);
    min-height: var(--minimum-height);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border-bottom-left-radius: 32px;
    position: relative;
  }

  &__container {
    margin-bottom: 1rem;
  }

  &__task-details {
    margin-left: var(--general-spacer);
  }

  &__tasks {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    cursor: pointer;
    margin-right: 1rem;
    transform: scale(1);
    transition: transform 300ms ease-in-out;

    &:hover {
      transform: scale(1.5);
    }
  }

  &__label {
    cursor: pointer;
    padding: 0 0.2rem;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 10px;
      height: 3px;
      background: var(--tertiary-color);
      transform: scaleX(0);
      transform-origin: right;
      transition: transform 150ms ease-in-out;
    }
  }

  &__item:checked + &__label::after {
    transform: scaleX(1);
    transform-origin: left;
  }

  &__item:checked + &__label {
    opacity: 0.3;
  }

  &__delete {
    cursor: pointer;
  }

  &__edit {
    color: green;
    font-weight: bold;
    padding: 0.5rem;

    &:hover {
      font-size: 1.2rem;
      cursor: pointer;
    }
  }

  &__creator {
    position: relative;
  }

  &__close {
    position: absolute;
    color: #ddd7ce;
    top: 0;
    right: 1rem;
    font-size: 4rem;
    background: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
  }

  &__form {
    padding: 3rem;
    width: 80%;
    margin: auto;
    &__inputs {
      input,
      select {
        border: 2px solid #f0f0f0;
        border-radius: 4px;
        display: block;
        width: 100%;
        padding: 0.5rem;
        font-size: 1rem;
        margin-bottom: 1rem;

        &:focus {
          outline: 0;
          border-color: rgb(123, 247, 123);
        }

        &:focus::placeholder {
          opacity: 0.2;
        }
      }

      label {
        display: block;
        margin-bottom: 0.5rem;
      }
    }

    &__btn {
      display: block;
      margin: var(--spacer) auto;
      cursor: pointer;
      padding: 0.8rem 1.5rem;
      width: fit-content;
      border: 0;
      font-size: 1.2rem;
      color: var(--light-color);
      background-color: var(--primary-color);
      border-radius: 5px;
      background-color: var(--primary-color);
    }
  }

  &__new-task-button {
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--light-color);
    background-color: var(--primary-color);
    border: 0;
    border-radius: 40px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    left: 35%;
    bottom: -25px;
  }
}

.hide {
  display: none;
}
